@font-face {
  font-family: Lato-Thin;
  src: url(./Assets/Lato/Lato-Thin.ttf);
}

@font-face {
  font-family: Lato-Regular;
  src: url(./Assets/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(./Assets/Lato/Lato-Bold.ttf);
}




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-size: 16px; */
  font-family: lato-Light, sans-serif, 'Times New Roman';
  font-weight: lighter;
  
}

h1 {
  font-family: Lato-Bold;
}

.Body {
  width: 100vw;
  height: 80vh;
  background-color: white;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.headerElement {
  padding: 2% 0;
}

.font--regular {
  font-family: Lato-Regular;
}

.Button {
  font-family: Lato-Bold;
  font-size: 1.5rem;
  border-radius: 40px;
}





/* --- Header Section --- */

.Header {
  background-image: linear-gradient(to bottom, rgb(14, 14, 14), rgba(255, 255, 255, 0)), url(src/Assets/Icons/img-hero-banner.jpg);
  background-repeat: none;
  min-width: 100vw;
  min-height: 75vh;
  background-size: cover;
  /* top: 400 */
}

.Header--contact {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7%;
  /* padding: 0 5%; */
}

.contactInfo p {
  margin: 5% 0;
}

.contact--grouping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
  padding: 0 5%;
}

.contact--grouping > div {
  display: flex;
  justify-content: space-between,;
  align-items: center;
  width: 100%;
}

.contact--grouping > div > img {
  margin: 0 5%
}

.Header--nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  margin: 0 7%;
}

.Header--nav--top {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0;
}

.Header--nav-top--subNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.Header--nav--RequestAQuote {
  font-size: 1.25rem;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top, rgb(14, 14, 14), rgb(137, 136, 136));
  color: rgb(255, 255, 255);
  border: 1px solid linear-gradient(to top, rgba(14, 14, 14, 0.593), rgb(137, 136, 136));
  padding: 1% 2%;
  border-radius: 40px;
}

.Header--nav--bottom {
  font-size: .75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e2e3e2;
  padding: 1% 2%;
  border-radius: 40px; 
}

.Header--nav--bottom > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  margin-left: 35%;
}

.Header--nav--bottom--link {
  text-decoration: underline;
}

.Header--nav--bottom--close {
  float: right;
}

.Header--banner {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8%;
}

.Header--banner--top {
  font-size: 4rem;
}

.Header--banner--bottom {
  font-family: Lato-Thin;
  margin: 1%;
}






/* --- WeCanHelp --- */

#WeCanHelp--root {
  padding: 4% 6%;
  font-size: 1.25rem;
  line-height: 180%;
}

#WeCanHelp--nav {
  padding: 2% 0 1% 0;
}

.WeCanHelp--container--primary {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 6;

}

#section1Group1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 1.5%;
}

#section1Group1 > h1 {
  font-size: 4rem;
  font-family: Lato-Bold;
  font-size: 56px;
}

#section1Group2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section1Group3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2%;
}

#section1Group3 > h4 {
  font-family: Lato-Bold;
  font-size: 2rem;
}

#section1Group3 > p {
  font-size: 1.25rem;
  /* line-height: 180%; */
}


#section1Group4 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

#section1Group5 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

#section1Group6 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

#section1Group7 {
  align-items: start;
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

#section1Group7 > h4{
  font-family: Lato-Bold;
}

#section1Group8 {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  
}

#section1Group7 > h3 {

}




/* --- Discover Benefits --- */
#DiscoverBenefits {
  padding: 0 10%;
  background: radial-gradient( rgb(5, 82, 59),rgba(4, 5, 3, 0.884));
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#DiscoverBenefits > h3 {
  font-family: Lato-Bold;
  font-size: 2rem;
  color: white
}




/* --- Our Services --- */
#OurServices {
  padding: 4% 6%;
  font-size: 1.25rem;
}

#OurServices > h2 {
  font-family: Lato-Bold;
  font-size: 3rem;
  line-height: 180%;
}

.service > h4 {
  font-family: Lato-Bold;
  padding-top: 2%
}

.service > p {
  padding: 1% 0;
  line-height: 150%;
}

#services--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 0
}

#servicesGridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4;
  gap: 2%;
}

.serviceImage {
  height: 70%;
  width: 100%;
}

#OurServices--service0 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#OurServices--service1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#OurServices--service2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#OurServices--service3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#OurServices--service4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#OurServices--service5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#OurServices--service6 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#OurServices--service7 {
  grid-column: 2 / 3;
  grid-row: 3 / 4
}

#OurServices--service8 {
  grid-column: 3 / 4;
  grid-row: 3 / 4
}

#OurServices--service9 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}




/* --- FAQ --- */

#FAQ {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#FAQ--background {
  /* background-image: url(src/Assets/Icons/img-affordable-energy.jpg); */
  /* background-size: 100%; */
  /* background-repeat: none;
  background-size: contain; */
  height: 40vh;
  width: 100%;
  margin: 1% 0;
}

.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 4% 6%;
}

#FAQ--group1 {
  width: 60%;
  padding: 1% 2% 0 0;
  margin-top: -5%;
}

#FAQ--group1 h2 {
  font-family: Lato-Bold;
  font-size: 2.5rem;
  padding: 3% 0
}
#FAQ--group1 p {
  line-height: 180%;
}

#FAQ--group2 {
  width:40%;
  height: 50vh;
  margin-top:  -14%;
  padding: 1% 2%;
  background-color: white;
  border: 1px solid #e2e3e2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#FAQ--group2 > h5 {
  font-family: Lato-Bold;
  font-size: 1.25rem;
  text-align: center;
}

#FAQ--group2--top  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

#FAQ--group2--top > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#FAQ--group2--top > div > img {
  margin: 2%;
}

#FAQ--group3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#FAQ--group3 > h2 {
  font-family: Lato-Bold;
  font-size: 2.5rem;
}

#FAQ--container {
  padding: 2%;
}

.Dropbox {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  width: 60vw;
  
  padding: 3%;
  margin: 2%;
  border: 1px solid #e2e3e2;
}

#Dropbox--top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#Dropbox--top > button {
  margin: 1%;
  background-color: white;
  border: none;
}

#Dropbox--top > h2 {
  font-family: Lato-Bold;
  width: 100%;
  margin: 1%;
}

/* .divider {
  border: 1px solid #e2e3e2;
  margin:  0 10%;
  width: 80%;
  height: 1px;

} */

.dropData--container > p {
  width: 100%;
  /* margin: 0 2%; */
  line-height: 180%;
}




/* --- Go Solar --- */

.GoSolar {
  background-image: url(src/Assets/Icons/img-final-cta-background.jpg);
  background-size: cover;
  background-repeat: none;
  width: 100vw;
  height: 30vh;
  padding: 4% 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#GoSolar--left > h2{
  font-family: Lato-Bold;
  font-size: 2.5rem;
  color: white;
  width: 100%;
  margin: 1% 0;
}

#GoSolar--left > p {
  color: white;
  width: 90%
}

#GoSolar--right {
  width: 15%;
}
#GoSolar--right > button {
  width: 100%;
  padding: 1%
}